.header {
  background-color: rgb(145, 227, 255);
  padding: 2%;
  margin: 1%;
  border-radius: 2rem;
}

.header-el {
  /* background-color: rgb(159, 159, 242); */
  display: flex;
  justify-content: space-between;
  margin: 1%;
}

.logo p {
  font-weight: 600;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    /* opacity: 0; */
  }
  50% {
    transform: scale(1.01);
    /* opacity: 0.9; */
  }
}

.logo > p:hover {
  cursor: pointer;
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-direction: alternate-reverse;
}

.menu {
  /* background-color: rgb(197, 220, 98); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  text-decoration: none;
}

@keyframes menu_text {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(10%);
  }
}

.menu > a:hover {
  animation-name: menu_text;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: initial;
  text-decoration: underline;
}

.text {
  white-space: nowrap;
}

.contact {
  margin-right: 5%;
  margin-left: 5%;
}

@media screen and (width <= 720px) {
  .header-el {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
  }
}
